<% title 'Party' %>

<p>
  <strong>Community Role:</strong>
  <%= @party.community_role_id %>
</p>
<p>
  <strong>Signature:</strong>
  <%= @party.signature %>
</p>
<p>
  <strong>Youcentriccenter:</strong>
  <%= @party.youCentricCenter_id %>
</p>
<td>
	<strong>
		<% @community_role.parties.each do |party| %>

			<% party.invitation_emails.each do |invitation_e| %>
				Invitation Email <%=statusText invitation_e.status%> <%= invitation_e.email %>
			<% end %>

			<% party.invitation_yous.each do |invitation_y| %>
				Invitation <%=statusText invitation_y.status%> you
			<% end %>

			<% party.invitation_ids.each do |invitation_i| %>
				Invitation <%=statusText invitation_i.status%> <%= invitation_i.youCentricCenter_id %>
			<% end %>
		<% end %>
	</strong>
	<br />
	<ul>
		<%= link_to 'More ... (e.g., who fills it in your network)', yellow_pages_community_community_role_path(@community, community_role) %>

	</ul>
</td>

<p>
  <%= link_to 'Edit', edit_party_path(@party) %> |
  <%= link_to 'Destroy', @party, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'View All', parties_path %>
</p>
