<div class="border-form-div">
  <h2>Sign up</h2>
  <%= form_for(@user, url: user_registrations_path) do |f| %>
    <%= f.email_field :email, autofocus:  true, placeholder: 'Email address' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>
    <%= f.submit 'Sign up', class: 'btn btn-primary' %>
  <% end %>
  <%= render 'user/shared/links' %>
</div>