<?xml version="1.0" encoding="UTF-8"?>
<document>
  <Conformance>
    <acceptUnknown value="<%=	@data["Conformance"]["acceptUnknown"]["value"] %>"/>
    <text>
      <status value="<%= @data.text.status %>"/>
      <div><%= @data.text.div.html_safe %></div>
    </text>
    <format value="<%= @data.[format][0] %>"/>
    <format value="<%= @data.[format][1] %>"/>
    <date value="<%= @data.date %>"/>
    <version value="<%=	@data.version %>"/>
    <publisher value="<%= @data.publisher %>"/>
    <software>
      <name value="<%= @data.software.name %>"/>
      <version value="<%= @data.software.version %>"/>
    </software>
    <document>
    </document>
    <fhirVersion value="<%= @data.fhirVersion %>"/>
    <telecom>
      <system value="<%= @data.telecom[0].system %>"/>
      <value value="<%= @data.telecom[0].value %>"/>
      <messaging value="<%= @data.telecom.messaging %>"/>
    </telecom>
    <rest>
      <type value="<%= @data.rest[0].type %>"/>
      <mode value="<%= @data.rest[0].mode %>"/>
      <history value="<%=	@data.rest[0].history %>"/>
      <profile value="<%= @data.rest[0].profile %>"/>
      <batch value="<%= @data.rest[0].batch %>"/>
      <resource value="<%= @data.rest[0].resource %>"/>
    </rest>
    <identifier value="<%= @data.identifier %>"/>
  </Conformance>
</document>