<%= nested_form_for @youcentric_operation_fields do |f| %>
  <p class="fields">
    <strong> YouCentric Operation: </strong> <br />
    <br />
    <table>
      <tr>
        <td>
          <%=  f.label :name %>
        </td>
        <td>
          <%=  f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  f.label :description %>
        </td>
        <td>
          <%=  f.text_field :description %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  f.label :verb_id, 'Verb' %>
        </td>
        <td>
          <%= f.select :verb_id, Directory::Verb.all.collect{ |r| [r.name, r.id]}, :include_blank => true %>
        </td>
      </tr>
    </table>

    <%= f.link_to_remove 'Remove Operation' %>
  </p>
<% end %>