<p id="notice"><%= notice %></p>

<p>
  <b>Community:</b>
  <%= @registration_contract.community_id %>
</p>

<p>
  <b>Status:</b>
  <%= @registration_contract.status %>
</p>


<%= link_to 'Edit', edit_registration_contract_path(@registration_contract) %> |
<%= link_to 'Back', registration_contracts_path %>
