<?xml version="1.0" encoding="UTF-8"?>
<document>
    <Patient xmlns="http://hl7.org/fhir">
      <% unless @patient.text.nil? %>
      <text>
      <% unless @patient.text.status.nil? %>
        <status value="<%= @patient.text.status[:value] %>"/>
      <% end %>
      <% unless @patient.text.div.nil? %>
        <div xmlns="http://www.w3.org/1999/xhtml"><%= @patient.text.div.html_safe %></div>
      <% end %>
      </text>
      <% end %>
      <active value="<%= @patient.active %>"/>
      <% @patient.identifier.each do |identifier| -%>
        <identifier>
        <% unless identifier.label.nil? %>
          <label value="<%= identifier.label %>"/>
        <% end %>
        <% unless identifier.system.nil? %>
          <system value="<%= identifier.system %>"/>
        <% end %>
        <% unless identifier.key.nil? %>
          <id value="<%= identifier.key %>"/>
        <% end %>
        <% unless identifier.assigner.nil? %>
          <assigner value="<%= identifier.assigner %>"/>
        <% end %>
        <% unless identifier.use.nil? %>
          <use value="<%= identifier.use %>"/>
        <% end %>
        <% unless identifier.period.nil? %>     <!--TODO: Need to test, examples are incomplete -->
          <period value="<%= identifier.period %>"/>
        <% end %>
        </identifier>
      <% end unless @patient.identifier.nil? %>
      <% unless @patient.birthDate.nil? %>
      <birthDate value="<%=	@patient.birthDate %>"/>
      <% end %>
      <% unless @patient.maritalStatus.nil? %>
      <maritalStatus value="<%=	@patient.maritalStatus[:value] %>"/>
      <% end %>
      <% @patient.name.each do |name| -%>
      <name>
      <% unless name.use.nil? %>
        <use value="<%= name.use %>"/>
      <% end %>
      <% unless name.text.nil? %>
        <text value="<%= name.text %>" />
      <% end %>
      <% name.family.each do |cnt| %>
      <% if cnt[:value].is_a? Array %>
      <% cnt[:value].each do |fam| %>
        <family value="<%= fam %>"/>
      <% end %>
      <% else %>
        <family value="<%= cnt[:value] %>"/>
      <% end %>
      <% end %>
      <% name.given.each do |cnt| %>
        <% if cnt[:value].is_a? Array %>
        <% cnt[:value].each do |give| %>
        <given value="<%=	give %>"/>
        <% end %>
        <% else %>
        <given value="<%=	cnt[:value] %>"/>
        <%end %>
      <% end unless name.given.nil? %>
      <% name.prefix.each do |cnt| %>
      <% if name.prefix.count == 1 %>
        <prefix value="<%= cnt %>"/>
      <% else %>
        <prefix value="<%= cnt[0] %>"/>
      <% end %>
      <% end unless name.prefix.nil? %>
      <% name.suffix.each do |cnt| %>
        <suffix value="<%= cnt[0] %>"/>
      <% end unless name.suffix.nil?%>
      <% unless name.period.nil? %>
        <period value="<%= name.period[:value] %>" />
      <% end %>
      </name>
      <% end unless @patient.name.nil? %>
      <% @patient.telecom.each do |telecom| -%>
      <telecom>
      <% unless telecom.system.nil? %>
        <system value="<%= telecom.system %>"/>
      <% end %>
      <% unless telecom.value.nil? %>
        <value value="<%= telecom.value %>"/>
      <% end %>
      <% unless telecom.use.nil? %>
        <use value="<%= telecom.use %>"/>
      <% end %>
      <% unless telecom.period.nil? %>
        <period value="<% telecom.period %>" />
      <% end %>
      </telecom>
      <% end unless @patient.telecom.nil? %>
      <% unless @patient.gender.nil? %>
      <gender>
      <% unless @patient.gender[0].coding.nil? %>
        <coding>
        <% unless @patient.gender[0].coding.code.nil? %>
          <code value="<%= @patient.gender[0].coding.code %>"/>
        <% end %>
        <% unless @patient.gender[0].coding.display.nil? %>
          <display value="<%= @patient.gender[0].coding.display %>"/>
        <% end %>
        <% unless @patient.gender[0].coding.system.nil? %>
          <system value="<%= @patient.gender[0].coding.system %>"/>
        <% end %>
        </coding>
      <% end %>
      <% unless @patient.gender[0].text.nil? %>
        <text value="<%=	@patient.gender[0].text %>"/>
      <% end %>
      <% unless @patient.gender[0].primary.nil? %>
        <primary value="<%=	@patient.gender[0].primary %>"/>
      <% end %>
      </gender>
      <% end %>
      <% unless @patient.address.nil? %>
      <address>
      <% unless @patient.address[0].use.nil? %>
        <use value="<%= @patient.address[0].use[:value] %>"/>
      <% end %>
      <% unless @patient.address[0].text.nil? %>
        <text value="<%= @patient.address[0].text %>"/>
      <% end %>
      <% @patient.address[0].line.each do |ln| %>
        <line value="<%= ln[1].to_s %>"/>
      <% end unless @patient.address[0].line.nil? %>
      <% unless @patient.address[0].city.nil? %>
        <city value="<%= @patient.address[0].city[:value] %>"/>
      <% end %>
      <% unless @patient.address[0].state.nil? %>
        <state value="<%= @patient.address[0].state[:value] %>"/>
      <% end %>
      <% unless @patient.address[0].zip.nil? %>
        <zip value="<%= @patient.address[0].zip[:value] %>"/>
      <% end %>
      <% unless @patient.address[0].country.nil? %>
        <country value="<%= @patient.address[0].country[:value] %>"/>
      <% end %>
      <% unless @patient.address[0].period.nil? %>
        <period value="<%= @patient.address[0].period[:value] %>"/>
      <% end %>
      </address>
      <% end unless @patient.address.nil? %>
      <% unless @patient.links.nil? %>
      <% @patient.links.each do |link| %>
      <link>
      <% unless link.type.nil? %>
        <type value=" <%= link.type[:value] %>"/>
      <% end %>
      <% unless link.url.nil? %>
        <url value=" <%= link.url[:value] %>"/>
      <% end %>
      <% unless link.display.nil? %>
        <display value=" <%= link.display[:value] %>"/>
      <% end %>
      </link>
      <% end %>
      <% end %>
      <% unless @patient.provider.nil? %>
      <provider>
      <% unless @patient.provider.type.nil? %>
        <type value="<%= @patient.provider.type[:value] %>"/>
      <% end %>
      <% unless @patient.provider.url.nil? %>
        <url value="<%= @patient.provider.url[:value] %>"/>
      <% end %>
      </provider>
      <% end %>
      <% unless @patient.communication.nil? %>
      <communication>
          <coding value="<%= @patient.communication.coding[:value] %>"/>
          <text value="<%=	@patient.communication.text[:value] %>"/>
          <primary value="<%=	@patient.communication.primary[:value] %>"/>
      </communication>
      <% end %>
    </Patient>
</document>
