<%= form_for @youcentric_operation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :service_id %><br />
    <%= f.number_field :service_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :verb_id %><br />
    <%= f.number_field :verb_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
