<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "mainstreet", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><label>Welcome <%= current_user.email %></label></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to 'Log out', logout_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path(:protocol => 'https') %></li>
            <li><%= link_to 'Log In', login_path(:protocol => 'http') %></li>
            <li><%= link_to 'Facebook Log In', new_user_oauth_session_path %></li>
            <li><%= link_to 'Google Log In', new_user_oauth_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>